@using BAL.DTOs.Bookings;
@using DAL.Models;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
<link href="~/agora/Call.css" rel="stylesheet" media='screen' type='text/css' asp-append-version="true" />

@{
    ViewData["Title"] = "Create";
    Layout = null;
}



<section id="form-container">

    <img id="logo" style="width: 200px;" src="~/img/logo/logo.png" />

    <div id="welcome-message">
        <h2>Xin Chào @Accessor.HttpContext.Session.GetString("Name")</h2>
    </div>

    <form id="form">
        <div class="field-wrapper">

            <input type="hidden"  name="room" value="@(ViewData["PlayerId"])" />
            <input type="hidden" name="name" value="@Accessor.HttpContext.Session.GetString("Name")" />
            <div class="form-field">
                <input type="submit" value="Tham gia" />
            </div>
        </div>
    </form>
</section>


<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value
        let name = e.target.name.value

        let response = await fetch(`/Slot/gettoken/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)

        window.open('/Slot/Room/', '_self')
    }



    form.addEventListener('submit', handleSubmit)
</script>
