<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebClient</title>

    <!-- favicon
      ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" asp-append-version="true">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.theme.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.transitions.css" asp-append-version="true">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css" asp-append-version="true">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/educate-custon-icon.css" asp-append-version="true">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/morrisjs/morris.css" asp-append-version="true">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/scrollbar/jquery.mCustomScrollbar.min.css" asp-append-version="true">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/metisMenu/metisMenu.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/metisMenu/metisMenu-vertical.css" asp-append-version="true">
   
    <!-- x-editor CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/editor/select2.css">
    <link rel="stylesheet" href="~/css/editor/datetimepicker.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/editor/bootstrap-editable.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/editor/x-editor-style.css" asp-append-version="true">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/data-table/bootstrap-table.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/data-table/bootstrap-editable.css" asp-append-version="true">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/form/all-type-forms.css" asp-append-version="true">
    <!-- modals CSS
       ============================================ -->
    <link rel="stylesheet" href="~/css/modals.css" asp-append-version="true">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/style.css" asp-append-version="true">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">
    <!-- summernote CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/summernote/summernote.css" asp-append-version="true">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js" asp-append-version="true"></script>
    

</head>
<body>
    
        <!-- Main -->
        <main role="main"">
            @RenderBody()
  

    <!-- jquery
        ============================================ -->
    <script src="~/js/vendor/jquery-1.12.4.min.js" asp-append-version="true"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/js/wow.min.js" asp-append-version="true"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/js/jquery-price-slider.js" asp-append-version="true"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/js/jquery.meanmenu.js" asp-append-version="true"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/js/jquery.sticky.js" asp-append-version="true"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/js/jquery.scrollUp.min.js" asp-append-version="true"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/js/scrollbar/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
    <script src="~/js/scrollbar/mCustomScrollbar-active.js" asp-append-version="true"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/js/metisMenu/metisMenu.min.js" asp-append-version="true"></script>
    <script src="~/js/metisMenu/metisMenu-active.js" asp-append-version="true"></script>
    <!-- data table JS
        ============================================ -->
    <script src="~/js/data-table/bootstrap-table.js" asp-append-version="true"></script>
    <script src="~/js/data-table/tableExport.js" asp-append-version="true"></script>
    <script src="~/js/data-table/data-table-active.js" asp-append-version="true"></script>
    <script src="~/js/data-table/bootstrap-table-editable.js" asp-append-version="true"></script>
    <script src="~/js/data-table/bootstrap-editable.js" asp-append-version="true"></script>
    <script src="~/js/data-table/bootstrap-table-resizable.js" asp-append-version="true"></script>
    <script src="~/js/data-table/colResizable-1.5.source.js" asp-append-version="true"></script>
    <script src="~/js/data-table/bootstrap-table-export.js" asp-append-version="true"></script>
    <!--  editable JS
        ============================================ -->
    <script src="~/js/editable/jquery.mockjax.js" asp-append-version="true"></script>
    <script src="~/js/editable/mock-active.js" asp-append-version="true"></script>
    <script src="~/js/editable/select2.js" asp-append-version="true"></script>
    <script src="~/js/editable/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/editable/bootstrap-datetimepicker.js" asp-append-version="true"></script>
    <script src="~/js/editable/bootstrap-editable.js" asp-append-version="true"></script>
    <script src="~/js/editable/xediable-active.js" asp-append-version="true"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="~/js/chart/jquery.peity.min.js" asp-append-version="true"></script>
    <script src="~/js/peity/peity-active.js" asp-append-version="true"></script>
    <!-- morrisjs JS
       ============================================ -->
    <script src="~/js/morrisjs/raphael-min.js" asp-append-version="true"></script>
    <script src="~/js/morrisjs/morris.js" asp-append-version="true"></script>
    <script src="~/js/morrisjs/home3-active.js" asp-append-version="true"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/js/sparkline/jquery.sparkline.min.js" asp-append-version="true"></script>
    <script src="~/js/sparkline/jquery.charts-sparkline.js" asp-append-version="true"></script>
    <script src="~/js/sparkline/sparkline-active.js" asp-append-version="true"></script>
 
    <script src='~/dist/index.global.js'></script>

    <!-- form validate JS
        ============================================ -->
    <script src="~/js/form-validation/jquery.form.min.js"asp-append-version="true"></script>
    <script src="~/js/form-validation/jquery.validate.min.js"asp-append-version="true"></script>
    <script src="~/js/form-validation/form-active.js" asp-append-version="true"></script>
    <!-- summernote JS
        ============================================ -->
    <script src="~/js/summernote/summernote.min.js" asp-append-version="true"></script>
    <script src="~/js/summernote/summernote-active.js" asp-append-version="true"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/js/tab.js" asp-append-version="true"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
