@{
	ViewData["Title"] = "Create";
	Layout = "_SuccessLayout ";
}

<div class="error-pagewrap">
	<div class="error-page-int">
		<div class="content-error">
			<h1> <span class="counter"> Thành công</span></h1>
			<p>Bạn đã đặt lịch thành công</p>
		</div>

	</div>
</div>
<script>
	function CloseWindow() {
		window.top.opener = null;
		window.close();
	}
</script>
