@model BAL.DTOs.Accounts.CreateAccount

@{
    ViewData["Title"] = "Home Page";
    Layout = "_LoginLayout";
}
<div class="error-pagewrap">
    <div class="error-page-int">
        <div class="text-center m-b-md custom-login">
            <h3>PLEASE LOGIN TO APP</h3>
            <p>This is the best app ever!</p>
        </div>
        <div class="content-error">
            <div class="hpanel">
                <div class="panel-body">
                    <form asp-action="Login" id="loginForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" type="text" placeholder="example@gmail.com" title="Vui lòng nhập email" class="form-control" required="">
                            <span asp-validation-for="Email" class="help-block small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Mật khẩu</label>
                            <input asp-for="Password" type="password" placeholder="******" title="Vui lòng nhập mật khẩu" class="form-control" required="">
                            <span asp-validation-for="Password" class="help-block small"></span>
                        </div>
                        <div class="checkbox login-checkbox">
                            <label>
                                <input type="checkbox" class="i-checks"> Remember me
                            </label>
                        </div>
                        <button type="submit" value="Login" class="btn btn-success btn-block loginbtn">Đăng nhập</button>
                        <a asp-action="GoogleLogin" class="btn btn-default btn-block">GoogleLogin</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center login-footer">
            <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
        </div>
    </div>
</div>