@model BAL.DTOs.Slots.CreateSlot

@{
    ViewData["Title"] = "Create";
}

<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <h1>Thêm ngành nghề</h1>
                    <div class="date-picker-inner">
                        <div class="form-group data-custon-pick" id="data_1">
                            <label>Simple data input format</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" value="10/04/2017">
                            </div>
                        </div>
                    <div class="form-group data-custon-pick" id="data_2">
                        <label>One Year view</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" value="08/09/2017">
                        </div>
                    </div>
                    </div>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="reviews">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                       
                                        <form asp-action="Create" id="add-department" class="add-department">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="ConsultantId" class="control-label">Tên ngành nghề</label>
                                                <input asp-for="ConsultantId" class="form-control" />
                                                <span asp-validation-for="ConsultantId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="StartDateTime" class="control-label">Mô tả</label>
                                                <input asp-for="StartDateTime" class="form-control" />
                                                <span asp-validation-for="StartDateTime" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" value="Create" class="btn btn-primary waves-effect waves-light">Xác nhận</button>
                                                <a asp-action="Index">Quay lại</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<!-- datapicker JS
       ============================================ -->
<script src="~/js/datapicker/bootstrap-datepicker.js" asp-append-version="true"></script>
<script src="~/js/datapicker/datepicker-active.js" asp-append-version="true"></script>
<!-- input-mask JS
        ============================================ -->
<script src="~/js/input-mask/jasny-bootstrap.min.js" asp-append-version="true"></script>
<!-- chosen JS
    ============================================ -->
<script src="~/js/chosen/chosen.jquery.js" asp-append-version="true"></script>
<script src="~/js/chosen/chosen-active.js" asp-append-version="true"></script>
<!-- select2 JS
    ============================================ -->
<script src="~/js/select2/select2.full.min.js" asp-append-version="true"></script>
<script src="~/js/select2/select2-active.js" asp-append-version="true"></script>
<!-- ionRangeSlider JS
    ============================================ -->
<script src="~/js/ionRangeSlider/ion.rangeSlider.min.js" asp-append-version="true"></script>
<script src="~/js/ionRangeSlider/ion.rangeSlider.active.js" asp-append-version="true"></script>
<!-- rangle-slider JS
    ============================================ -->
<script src="~/js/rangle-slider/jquery-ui-1.10.4.custom.min.js" asp-append-version="true"></script>
<script src="~/js/rangle-slider/jquery-ui-touch-punch.min.js" asp-append-version="true"></script>
<script src="~/js/rangle-slider/rangle-active.js" asp-append-version="true"></script>
<!-- knob JS
    ============================================ -->
<script src="~/js/knob/jquery.knob.js" asp-append-version="true"></script>
<script src="~/js/knob/knob-active.js" asp-append-version="true"></script>