@model BAL.DTOs.Slots.CreateSlot

@{
    ViewData["Title"] = "Create";
    Layout = "_SuccessLayout ";
}

<div class="error-pagewrap">
	<div class="error-page-int">
		<div class="content-error">
			<h1> <span class="counter"> Thành công</span></h1>
			<p>Bạn đã đặt lịch thành công</p>
			
			<a href="#">Quay lại trò chơi</a>
		</div>
		
	</div>
</div>
